@layout('main')

@section('content')
  
<table class="table">
<thead>
    <tr>
            <th scope="row">Nama</th>
            <th scope="row">Highest Combo</th>
    </tr>
</thead>
<tbody>   

@each(leaderboard in leaderboards)
        <tr>
          <td scope="row">{{leaderboard.nama}} </td>
        
          <td>{{leaderboard.combo}}</td>
        </tr>
             
@endeach
</tbody>
</table>


@endsection